{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h1>{{ title }}</h1>
        {{ wtf.quick_form(form) }}
      </div> <!-- ends col-4 -->
    </div> <!-- ends row -->
  </div> <!-- ends container -->

  <!-- Customers Display -->
  <div class="container">
    <div class="row">
      {% if title == 'Customers' %}
        <table id="customer_cars">
          <tr>
            <th>Customer Name</th>
            <th>Make</th>
            <th>Model</th>
            <th>Color</th>
            <th>Year</th>
          </tr>
          {% for car in cars %}
            <tr>
              <td>{{ car.full_name }}</td>
              <td>{{ car.make }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.color }}</td>
              <td>{{ car.year }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>

{% endblock %}
