{% extends 'base.html' %}


{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="welcome">
        <h1>Welcome to Wormwood Cars!</h1>
        <h4>There's never been a better time for me to take your money!</h4>
        <img class="banner" src="../static/media/images/banner.jpg" alt="Home Banner">
      </div>
    </div>
  </div>

  <div id="inv_section" class="row">
    {% for car in inventory %}
      <div class="col-md-4">
        <div class="card car-card">
          <img src="http://placehold.it/250x250" alt="Car Image" class="card-img">
          <div class="car-price">{{ "$%.2f"|format(car.price) }}</div>
          <div class="car-name">{{ car.year }} {{ car.make }} {{ car.model }}</div>
          <button class="btn btn-primary">Take My Money!</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
